{% extends 'main/base.html' %}
{% block main_content%}
{% load bootstrap4 %}
    <div class="col-12 row no-gutters">
        <h2 class="col-12 text-center my-5">Вход на сайт</h2>
        <form action="" method="post" class="form col-xl-6 col-lg-8 col-10 mx-auto">
            {% csrf_token %}
            {% bootstrap_form login_form layout='horizontal' form_group_class='label_login py-4' label_class='col-4 pl-4' field_class='col-7 mx-auto' %}
            <div class="col-12 d-flex justify-content-around my-5 px-4 py-2">
                <button type="submit" class="btn btn-dark">Войти</button>
                <button type="button" onclick = "location.href='{% url 'registration' %}'" class="btn btn-dark">Зарегистрироваться</button>
            </div>  
            
        </form>
    </div>
<script type="text/javascript">
    $('input').attr('autocomplete','off');
</script>
{%endblock%}