{% extends 'main/base.html' %}
{% block main_content%}
{% load bootstrap4%}
    <div class="col-12 row no-gutters">
        <div class="col-md-12 px-5 mb-3">
            <h2 class="text-center">{{user.first_name}} {{user.last_name}}</h2>
            <h5 class="mt-5">Никнейм на сайте: <span>{{user.nick}}</span></h5>
            {% if user.description %}
	            <h5 class="mt-5 text-center">Обо мне:</h5>
	            <h5>{{user.description}}</h5>
            {% endif %}
        </div>
        <div class="col-md-12">
            <h3 class="text-center">Мои рецензии</h3>
            {%if user.comment_set.all %}
            	{%for comment in user.comment_set.all %}
                <div class="row no-gutters col-12 mb-5">
                    <div class="col-md-6 col-10 mx-auto block_of_comment px-2 py-3">
                       <h4> {{comment.title}}</h4>
                       <h5>{{comment.content}}</h5>
                       <div class="d-flex justify-content-between">
                       <p class="text-right">{{comment.pub_date}}</p>
                       {% if comment.user == request.user %}
                        <a href="{{comment.get_delete_url}}" class="mt-2">
                            <span style="font-size:60%;" class="text-white">удалить</span>
                        </a>
                       {% endif %}

                    </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <h5 class="mt-5">Нет ни одной рецензии - напишите их</h5>
			{% endif %}
            <!-- Цикл сюда -->
        </div>
    </div>
{%endblock%}